<!DOCTYPE html>
<html>
  <head>
    <title>Article Details Page</title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <h1></h1>
    <div id="article-item"></div>

    <section>
      <h2>List commnents</h2>
      <div id="template">
        <h2></h2>
        <strong></strong>
        <p></p>
      </div>
      <div id="list-comments"></div>
    </section>

    <script src="../models/Article.js"></script>
    <script src="../models/Comment.js"></script>
    <script src="../viewmodel/article.js"></script>
  </body>
</html>
